@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v14/e3t4euO8T-267oIAQAu6jDQyK3nVivY.ttf) format('truetype');
}
@font-face {
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/silkscreen/v1/m8JXjfVPf62XiF7kO-i9YLNlbg.ttf) format('truetype');
}
@font-face {
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/silkscreen/v1/m8JUjfVPf62XiF7kO-i9aAhAfmyi3Q.ttf) format('truetype');
}
* {
  margin: 0;
  box-sizing: border-box;
}
canvas {
  position: absolute;
  height: 100vh;
  background-color: black;
  z-index: -1;
  top: 0;
  width: 100vw;
}
.eightBitForm h2 {
  font-family: 'Press Start 2P';
  color: white;
}
.eightBitForm form {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  width: 12vw;
}
.eightBitForm input {
  font-family: 'Silkscreen';
  background-color: rgba(138, 11, 131, 0.8);
  color: white;
}
.eightBitForm input:focus {
  background-color: rgba(138, 11, 131, 0.8);
  color: white;
}
.eightBitForm input::placeholder {
  color: rgba(199, 224, 141, 0.8);
}
.eightBitForm label {
  font-family: 'Press Start 2P';
  font-size: 0.8rem;
  color: white;
}
.eightBitForm button {
  font-family: 'Silkscreen';
  background-color: #89aa3d;
}
.eightBitForm button:hover {
  font-family: 'Silkscreen';
  background-color: yellow;
  color: blueviolet;
}
.eightBitForm p {
  font-family: 'Silkscreen';
  color: white;
  font-size: 1rem;
}
.eightBitForm a {
  font-family: 'Silkscreen';
}
.eightBitForm div {
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Press Start 2P';
  font-size: 0.7rem;
  color: yellow;
}
.eightBitForm > div {
  position: relative;
  top: 8vh;
  background-color: rgba(11, 179, 224, 0.8);
  width: 25vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
.form-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 30vw;
  margin: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #ebd25b;
}
.form-container h2 {
  font-family: 'Press Start 2P';
  color: #ebd25b;
  margin-top: 3vh;
}
.form-container form {
  padding: 5vw;
}
.form-container form label {
  color: #ebd25b;
  font-family: 'Press Start 2P';
}
.form-container form input {
  background-color: #ebd25b;
  height: 4vh;
  margin: 4px 0;
  border: none;
  font-family: 'Press Start 2P';
  font-size: 0.8em;
}
.form-container form input:-webkit-autofill,
.form-container form input:-webkit-autofill:hover,
.form-container form input:-webkit-autofill:focus,
.form-container form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ebd25b inset !important;
}
.form-container p {
  font-family: 'Press Start 2P';
}
.form-container button {
  border: 3px solid #ebd25b;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ebd25b;
  height: 5vh;
}
.form-container button:hover {
  animation: pulseSm 2s ease-in-out infinite;
}
.zoomout-splash {
  animation: zoomOut 2s;
}
.splash-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container {
  margin-top: 15vh;
  animation: slideDown 2s cubic-bezier(0, 1, 0.49, 0.99);
}
.header-container h1 {
  font-size: 3.4em;
  font-family: 'Press Start 2P';
  text-shadow: -2px 0 aqua, 0 2px aqua, 2px 0 aqua, 0 -2px aqua;
}
.header-container h6 {
  color: white;
}
.play-container {
  margin-top: 25vh;
  font-family: 'Press Start 2P';
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #0eb3e1;
  padding: 4vh 0;
  animation: slideUp 2s cubic-bezier(0, 1, 0.49, 0.99);
  align-items: center;
}
.play-container h3 {
  font-size: 2.2em;
  color: aqua;
}
.play-container hr {
  border: 2px solid aqua;
}
.play-container p {
  margin-top: 10px;
  color: aqua;
}
.play-container > div {
  margin: 0 10vw;
}
.play-container > div button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #0eb3e1;
  margin: 0 5px;
  border: 3px solid #00ffff;
  height: 5vh;
  margin: 5px 0;
  transition: ease-in-out 0.4s;
  width: fit-content;
  padding: 0 2vw;
}
.play-container > div button:hover {
  background-color: rgba(11, 179, 224, 0.8);
  color: black;
  transition: ease-in-out 0.4s;
  font-weight: 500;
  animation: pulse 2s ease-in-out infinite;
}
.play-container .button-container {
  margin-top: 10px;
}
.sidebar-container {
  position: absolute;
  top: 10vh;
  right: 20px;
  animation: 2.8s 0s 1 slideInFromRight;
  animation-timing-function: cubic-bezier(0, 0.88, 0.76, 0.98);
}
.sidebar-container div {
  text-align: center;
  background-color: rgba(0, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 25px 0;
}
.sidebar-container p {
  padding-top: 15px;
}
.sidebar-container a {
  color: white;
}
.game-container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35vw;
  height: 50vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.profile-container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35vw;
  height: 50vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.profile-container h1 {
  color: black;
}
.leaderboards-container {
  width: 50vw;
  margin: auto;
  margin-top: 10vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  border: 3px solid #ebd25b;
  font-family: 'Press Start 2P';
}
.leaderboards-container h1 {
  color: #ebd25b;
  padding: 20px 0;
}
.leaderboards-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 5vw;
  border-bottom: 1px solid #ebd25b;
  color: #ebd25b;
  font-weight: 500;
}
.leaderboards-container div:nth-child(2) {
  border-top: 1px solid #ebd25b;
}
.leaderboards-container button {
  margin: 1vh 1vw;
  border: 3px solid #ebd25b;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ebd25b;
}
@keyframes slideDown {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulseSm {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
    margin-top: 0;
  }
  100% {
    transform: scale(0);
    margin-top: 25vh;
  }
}
