@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);
@import url(https://fonts.googleapis.com/css?family=Silkscreen:regular,700);

@electric-blue: #0eb3e1;
@electric-blue-transparent: rgba(11, 179, 224, 0.8);
@sun-yellow: #ebd25b;
@sun-yellow-transparent: rgba(235, 210, 91, 0.8);
@sunset-purp: #260941;

* {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

canvas {
  position: absolute;
  height: 100vh;
  background-color: black;
  z-index: -1;
  top: 0;
  width: 100vw;
}

.eightBitForm {
  h2 {
    font-family: 'Press Start 2P';
    color: white;
  }

  form {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    width: 12vw;
  }

  input {
    font-family: 'Silkscreen';
    background-color: rgba(138, 11, 131, 0.8);
    color: white;
  }

  input:focus {
    background-color: rgba(138, 11, 131, 0.8);
    color: white;
  }

  input::placeholder {
    color: rgba(199, 224, 141, 0.8);
  }

  label {
    font-family: 'Press Start 2P';
    font-size: 0.8rem;
    color: white;
  }

  button {
    font-family: 'Silkscreen';
    background-color: #89aa3d;
  }

  button:hover {
    font-family: 'Silkscreen';
    background-color: yellow;
    color: blueviolet;
  }

  p {
    font-family: 'Silkscreen';
    color: white;
    font-size: 1rem;
  }

  a {
    font-family: 'Silkscreen';
    color: #89aa3d;
  }
  a:hover {
    font-family: 'Silkscreen';
    color: yellow;
  }

  div {
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Press Start 2P';
    font-size: 0.7rem;
    color: yellow;
  }

  > div {
    position: relative;
    top: 8vh;
    background-color: @electric-blue-transparent;
    width: 25vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  @media screen and (max-width: 800px) {
    > div {
      top: 10vh;
      width: 75%;
    }
  }
  @media screen and (max-width: 1200px) and (min-width: 800px) {
    > div {
      top: 20vh;
      width: 40%;
    }
  }
}

// .canvas-container {
//   position: absolute;
//   height: 100vh;
//   background-color: black;
//   z-index: -1;
//   width: 100vw;
// }

.splash-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  margin-top: 15vh;
  font-size: 2.4em;
  animation: 0.8s 0s 1 slideInFromTop;
  animation-timing-function: cubic-bezier(0, 0.88, 0.76, 0.98);

  h1 {
    text-shadow: -2px 0 aqua, 0 2px aqua, 2px 0 aqua, 0 -2px aqua;
  }

  h6 {
    color: white;
  }
}

.play-container {
  display: flex;
  flex-direction: row;
  margin-top: 25vh;
  animation: 0.8s 0s 1 slideInFromBottom;
  animation-timing-function: cubic-bezier(0, 0.88, 0.76, 0.98);

  h3 {
    font-size: 2.2em;
    color: aqua;
  }

  hr {
    border: 2px solid aqua;
  }

  p {
    margin-top: 10px;
    color: aqua;
  }

  > div {
    margin: 0 10vw;

    button {
      background-color: grey;
      margin: 0 5px;
      border: 3px solid rgb(0, 255, 255);
      height: 5vh;
      margin: 5px 0;
    }
  }

  .button-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
}

.sidebar-container {
  position: absolute;
  top: 10vh;
  right: 20px;
  animation: 2.8s 0s 1 slideInFromRight;
  animation-timing-function: cubic-bezier(0, 0.88, 0.76, 0.98);

  div {
    text-align: center;
    background-color: rgba(0, 255, 255, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 25px 0;
  }

  p {
    padding-top: 15px;
  }

  a {
    color: white;
  }
}

.game-container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35vw;
  height: 50vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.profile-container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35vw;
  height: 50vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);

  h1 {
    color: black;
  }
}

.leaderboards-container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35vw;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);

  h1 {
    color: black;
  }
}
