@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v14/e3t4euO8T-267oIAQAu6jDQyK3nVivY.ttf) format('truetype');
}
@font-face {
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/silkscreen/v1/m8JXjfVPf62XiF7kO-i9YLNlbg.ttf) format('truetype');
}
@font-face {
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/silkscreen/v1/m8JUjfVPf62XiF7kO-i9aAhAfmyi3Q.ttf) format('truetype');
}
* {
  margin: 0;
  box-sizing: border-box;
}
canvas {
  position: absolute;
  height: 100vh;
  background-color: black;
  z-index: -1;
  top: 0;
  width: 100vw;
}
.pointer {
  cursor: pointer;
}
.modalStyle {
  --bs-modal-bg: transparent;
}
.eightBitForm h2 {
  font-family: 'Press Start 2P';
  color: white;
  font-size: 1.5em;
}
.eightBitForm form {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  width: 12vw;
}
.eightBitForm input {
  font-family: 'Press Start 2P';
  background-color: #0eb3e1;
  color: #260941;
}
.eightBitForm input:focus {
  background-color: #0eb3e1;
  color: #260941;
}
.eightBitForm input::placeholder {
  font-family: 'Press Start 2P';
  color: #ebd25b;
}
.eightBitForm label {
  font-family: 'Press Start 2P';
  font-size: 0.8rem;
  color: white;
}
.eightBitForm button {
  font-family: 'Silkscreen';
  background-color: #260941;
}
.eightBitForm button:hover {
  font-family: 'Silkscreen';
  background-color: #ebd25b;
  color: #260941;
}
.eightBitForm p {
  font-family: 'Silkscreen';
  color: white;
  font-size: 1rem;
}
.eightBitForm a {
  font-family: 'Silkscreen';
  color: #260941;
}
.eightBitForm a:hover {
  font-family: 'Silkscreen';
  color: #ebd25b;
}
.eightBitForm .eightBitContainer {
  position: relative;
  top: 8vh;
  background-color: #0eb3e1;
  width: 25vw;
  margin: auto;
  padding-bottom: 40px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Press Start 2P';
  font-size: 0.7rem;
  color: yellow;
}
.eightBitForm .eightBitAlign {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eightBitForm .regTopper {
  color: black;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 0;
  padding-right: 3px;
  font-size: 1.7em;
}
.eightBitForm .regTopper a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.eightBitForm .regTopper a:hover {
  color: #ebd25b;
}
@media screen and (max-width: 800px) {
  .eightBitForm > div {
    top: 10vh;
    width: 75%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 800px) {
  .eightBitForm > div {
    top: 20vh;
    width: 40%;
  }
}
#loadFont {
  font-family: Silkscreen;
  font-size: 1em;
}
.zoomout-splash {
  animation: zoomOut 2s;
}
.splash-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container {
  margin-top: 15vh;
  animation: slideDown 2s cubic-bezier(0, 1, 0.49, 0.99);
  background-color: black;
}
.header-container h1 {
  font-size: 3.4em;
  color: #0eb3e1;
  font-family: 'Press Start 2P';
  text-shadow: -2px 0 aqua, 0 2px aqua, 2px 0 aqua, 0 -2px aqua;
}
.header-container h6 {
  color: white;
}
.play-container {
  margin-top: 25vh;
  font-family: 'Press Start 2P';
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #0eb3e1;
  padding: 4vh 0;
  animation: slideUp 2s cubic-bezier(0, 1, 0.49, 0.99);
  align-items: center;
}
.play-container h3 {
  font-size: 2.2em;
  color: aqua;
}
.play-container hr {
  border: 2px solid aqua;
}
.play-container p {
  margin-top: 10px;
  color: aqua;
}
.play-container > div {
  margin: 0 10vw;
}
.play-container > div button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #0eb3e1;
  margin: 0 5px;
  border: 3px solid #00ffff;
  height: 5vh;
  margin: 5px 0;
  transition: ease-in-out 0.4s;
  width: fit-content;
  padding: 0 2vw;
}
.play-container > div button:hover {
  background-color: rgba(11, 179, 224, 0.8);
  color: black;
  transition: ease-in-out 0.4s;
  font-weight: 500;
  animation: pulse 2s ease-in-out infinite;
}
.play-container .button-container {
  margin-top: 10px;
}
.sidebar-container {
  position: absolute;
  top: 10vh;
  right: 15px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: 2.8s 0s 1 slideInFromRight;
  animation-timing-function: cubic-bezier(0, 0.88, 0.76, 0.98);
}
.sidebar-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #260941;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border-style: solid;
  border-color: #ebd25b;
  border-width: 2px;
  margin-bottom: 8px;
}
.sidebar-container a {
  color: white;
}
.sidebar-container :hover .logoutIcon {
  color: red;
}
.sidebar-container :hover .aboutIcon {
  color: alicewhite;
}
.sidebar-container :hover .sidebarIcon {
  color: #ebd25b;
}
.sidebar-container :hover .soundIcon {
  color: cornflowerblue;
}
.sidebar-container :hover .musicIcon {
  color: lightgreen;
}
.tooltip-inner {
  color: #260941 !important;
  background-color: #ebd25b !important;
  font-family: 'Silkscreen';
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #ebd25b;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #ebd25b;
}
.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #ebd25b;
}
.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #ebd25b;
}
.game-container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35vw;
  height: 50vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.profile-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 80%;
  width: 50vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: 'Press Start 2P';
  border: 3px solid #ebd25b;
}
.profile-container .profile-button-container {
  display: flex;
  justify-content: center;
}
.profile-container .tut-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile-container .tut-container label {
  color: #ebd25b;
  margin-bottom: 2vh;
}
.profile-container .tut-container input {
  border: 3px solid #ebd25b;
  width: 20px;
  height: 20px;
  color: #000;
  margin: 0 1vw;
}
.profile-container .tut-container input:checked {
  color: #ebd25b;
}
.profile-container h1 {
  margin-top: 2vh;
  font-size: 1.5em;
  color: #ebd25b;
}
.profile-container h3 {
  color: #ebd25b;
  font-size: 1.5em;
}
.profile-container button {
  border: 3px solid #ebd25b;
  background-color: rgba(0, 0, 0, 0);
  color: #ebd25b;
}
.profile-container .profileTopper {
  color: black;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: rgba(235, 210, 91, 0.8);
  height: 30px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 8px;
  font-size: 1.5em;
}
.profile-container a {
  color: black;
  text-decoration: none;
}
.profile-container p {
  color: #ebd25b;
}
.leaderboards-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 80%;
  width: 50vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: 'Press Start 2P';
  border: 3px solid #ebd25b;
}
.leaderboards-container p {
  color: #ebd25b;
  margin-bottom: 0;
}
.leaderboards-container h1 {
  padding: 20px 0;
  color: #ebd25b;
}
.leaderboards-container div:nth-child(2) {
  border-top: 1px solid #ebd25b;
}
.leaderboards-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 5vw;
  border-bottom: 1px solid #ebd25b;
}
.leaderboards-container .lb-button-container {
  justify-content: center;
}
.leaderboards-container button {
  margin: 1vh 1vw;
  color: #ebd25b;
  border: 1px solid #ebd25b;
  background-color: rgba(0, 0, 0, 0.6);
}
.leaderboards-container .leaderboardTopper {
  color: black;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: rgba(235, 210, 91, 0.8);
  height: 30px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 8px;
  font-size: 1.5em;
}
.leaderboards-container a {
  color: black;
  text-decoration: none;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid #0eb3e1;
  font-family: 'Press Start 2P';
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container .splashButtonContainer {
  margin-top: 30px;
  width: 100%;
  height: 50px;
}
.form-container .form-button {
  padding: 5px;
  border: 3px solid #0eb3e1;
  background-color: rgba(0, 0, 0, 0);
  color: #0eb3e1;
}
.form-container .form-button:hover {
  border: 3px solid #ebd25b;
  color: #ebd25b;
}
.form-container a:hover {
  color: #ebd25b;
}
.form-container h2 {
  text-align: center;
  color: #0eb3e1;
  margin-bottom: 2vh;
}
.form-container p {
  color: #0eb3e1;
  font-size: 0.6em;
  margin-top: 5px;
}
.form-container .link-styles {
  color: #0eb3e1;
  font-size: 0.8em;
  margin-bottom: 1vh;
}
.form-container form {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}
.form-container form label {
  color: #0eb3e1;
  margin-top: 2vh;
  margin-bottom: 1vh;
  font-size: 0.75em;
}
.form-container form input {
  margin-top: 0;
  font-size: 0.6em;
  height: 3vh;
  color: white;
  background-color: transparent;
  border-color: #0eb3e1;
  border-style: solid;
}
.form-container form input:focus {
  outline: none;
  border-color: #ebd25b;
}
.form-container form button {
  margin-top: 2vh;
  margin-bottom: 1vh;
  border: 3px solid #0eb3e1;
  color: #0eb3e1;
  height: 4vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.about-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid #ebd25b;
  font-family: 'Press Start 2P';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 2vw;
}
.about-container h1 {
  color: #ebd25b;
  text-align: center;
}
.about-container h3 {
  color: #ebd25b;
  text-align: center;
}
.about-container h5 {
  color: #ebd25b;
  margin-bottom: 10px;
}
.about-container h6 {
  margin-bottom: 10px;
}
.about-container p {
  color: #0eb3e1;
}
.about-container a {
  color: #0eb3e1;
}
.about-container img {
  margin-bottom: 5px;
}
.about-container .about-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-container .about-game-container p {
  text-align: center;
}
.about-container .dev-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-container .bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 2vw;
  text-align: center;
}
.opacity {
  background-color: #000000;
  position: fixed;
  width: 100%;
  height: 100%;
}
@keyframes slideDown {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
    margin-top: 0;
  }
  100% {
    transform: scale(0);
    margin-top: 25vh;
  }
}
