@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v14/e3t4euO8T-267oIAQAu6jDQyK3nVivY.ttf) format('truetype');
}
@font-face {
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/silkscreen/v1/m8JXjfVPf62XiF7kO-i9YLNlbg.ttf) format('truetype');
}
@font-face {
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/silkscreen/v1/m8JUjfVPf62XiF7kO-i9aAhAfmyi3Q.ttf) format('truetype');
}
* {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
.eightBitForm h2 {
  font-family: 'Press Start 2P';
  color: white;
}
.eightBitForm form {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  width: 12vw;
}
.eightBitForm input {
  font-family: 'Silkscreen';
  background-color: rgba(138, 11, 131, 0.8);
  color: white;
}
.eightBitForm input:focus {
  background-color: rgba(138, 11, 131, 0.8);
  color: white;
}
.eightBitForm input::placeholder {
  color: rgba(199, 224, 141, 0.8);
}
.eightBitForm label {
  font-family: 'Press Start 2P';
  font-size: 0.8rem;
  color: white;
}
.eightBitForm button {
  font-family: 'Silkscreen';
  background-color: #89aa3d;
}
.eightBitForm button:hover {
  font-family: 'Silkscreen';
  background-color: yellow;
  color: blueviolet;
}
.eightBitForm p {
  font-family: 'Silkscreen';
  color: white;
  font-size: 1rem;
}
.eightBitForm a {
  font-family: 'Silkscreen';
}
.eightBitForm div {
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Press Start 2P';
  font-size: 0.7rem;
  color: yellow;
}
.eightBitForm > div {
  position: relative;
  top: 20vh;
  background-color: rgba(138, 11, 131, 0.8);
  width: 25vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
@media screen and (max-width: 800px) {
  .eightBitForm > div {
    top: 10vh;
    width: 75%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 800px) {
  .eightBitForm > div {
    top: 20vh;
    width: 40%;
  }
}
.canvas-container {
  position: absolute;
  height: 100vh;
  background-color: black;
  z-index: -1;
  width: 100vw;
}
.splash-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container {
  margin-top: 15vh;
  font-size: 2.4em;
  animation: 0.8s 0s 1 slideInFromTop;
  animation-timing-function: cubic-bezier(0, 0.88, 0.76, 0.98);
}
.header-container h1 {
  text-shadow: -2px 0 aqua, 0 2px aqua, 2px 0 aqua, 0 -2px aqua;
}
.header-container h6 {
  color: white;
}
.play-container {
  display: flex;
  flex-direction: row;
  margin-top: 25vh;
  animation: 0.8s 0s 1 slideInFromBottom;
  animation-timing-function: cubic-bezier(0, 0.88, 0.76, 0.98);
}
.play-container h3 {
  font-size: 2.2em;
  color: aqua;
}
.play-container hr {
  border: 2px solid aqua;
}
.play-container p {
  margin-top: 10px;
  color: aqua;
}
.play-container > div {
  margin: 0 10vw;
}
.play-container > div button {
  background-color: grey;
  margin: 0 5px;
  border: 3px solid #00ffff;
  height: 5vh;
  margin: 5px 0;
}
.play-container .button-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.sidebar-container {
  position: absolute;
  top: 10vh;
  right: 20px;
  animation: 2.8s 0s 1 slideInFromRight;
  animation-timing-function: cubic-bezier(0, 0.88, 0.76, 0.98);
}
.sidebar-container div {
  text-align: center;
  background-color: rgba(0, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 25px 0;
}
.sidebar-container p {
  padding-top: 15px;
}
.sidebar-container a {
  color: white;
}
.game-container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35vw;
  height: 50vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.profile-container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35vw;
  height: 50vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.profile-container h1 {
  color: black;
}
.leaderboards-container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35vw;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.leaderboards-container h1 {
  color: black;
}
